body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top : 100px;
    background-color: black
}
h1{
    margin : none;
    color: white;
    font-family: "Montserrat", sans-serif;
}
label{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    margin : 0px 100px;
    margin-right: 0px;;
}
input{
    font-size: medium;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    border : n

}
button{
    font-size: medium;
    margin-top : 50px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    border-radius: 5px;
    padding : 5px 25px;
    border : none;

}

#uploadForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

#final{
    color : white;
}

#result{

    margin-top: 20px;
}